
.content{
    width:1000px;
    overflow: hidden;
    margin:0 auto;
}
.content_nav{
    width:208px;
    border-top:2px solid #35B558;
    border-bottom:2px solid #E8E8E8;
    position:relative;
    float:left;
}
.content_naver li{
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    font-size: 13px;
    list-style:none;
    cursor: pointer;
    line-height: 37px;
    margin-bottom:-1px;
    width:208px;
}
.linav span {
    margin-left: 15px;
}
.linav{
    border-bottom: 1px solid #F5F5F5;
    color: #666;
}
.lina:hover{
    color:#35b558;
}
.content_naver li:hover{
    border-left:2px solid #35b558;
    border-right:none;
    color:#35B558;
}
.span_content{
    position: absolute;
    left:209px;
    top:-2px;
    z-index:1003;
    border: 1px solid #e4e4e4;
    border-left:0;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    background: #fff;
    height:300px;
    display: none;
}

.span_content a{
    text-decoration:none;
    line-height: 37px;
    height: 37px;
    padding: 0 15px;
    color: gray;
    font-size: 12px;
    display:inline-block;
    width: 88px;
    white-space: nowrap;

}

.content_naver li:hover  .span_content {
    display: block;
}
.content_img{
    position:relative;
    float:left;
    magrin-top:20px;
    margin-left:10px;
}
.content_img img{
    width:570px;
    height:298px;
    cursor: pointer;
}
.content_txt{
    font-size: 10px;
}
.content_top,.content_bottom{
    width:210px;
    height:148px;
    position:relative;
    float:left;
    border:1px solid #E8E8E8;
    cursor: pointer;
    text-indent:20px ;
    margin-bottom: -1px;
}
.content_top h2,.content_bottom h2{
    line-height: 50px;
}
.smaller{
    line-height: 15px;
    color: #35b558;
}
.btn{
    width:168px;
    height:34px;
    border:none;
    background-color:#35b558;
    font-size: 14px;
    color:white;
    margin-top:30px;
    margin-left: 20px   ;
}
.btn:hover{
    background-color: #0cb511;
}
.btn_bottom{
    width:168px;
    height:34px;
    border:1px solid  #35b558;
    background-color:white;
    font-size: 14px;
    color:#35b558;
    margin-top:20px;
    margin-left: 20px;
}
.btn_bottom:hover{
    background-color:#35b558 ;
    color: white;
}
.content_mid_head{
    width:100%;
    position:relative;
}
.content_mid_header{
    width:1000px;
    height:70px;
    margin:0 auto;
}
.content_mid_headnav{
    float:left;
    font-size: 14px;
    margin-top: 40px;
}
.content_mid_headnav li{
    display: inline;
    float: left;
    z-index: 1020;
    border-bottom: 2px solid #e8e8e8;
    padding: 10px 55px;
    padding-top: 0;

}
.content_mid_headnav a{
    text-decoration:none;
    color:#333;
}
.content_mid_headnav li:hover {
    border-bottom-color: #35b558;
}

.content_mid_headnav li:hover a{
    color:#35b558;
}


.img_container{
    width:1100px;
    height:480px;
    margin-top: 25px;
    margin-left:176px;

}
.mid_img{
    width:235px;
    height:215px;
    float:left;
    margin-right: 17px;
    border:1px solid #E8E8E8;
    margin-bottom: 20px;
    position: relative;
}

.bottom_message{
    position: relative;
    top: 130px;
}


.mid_img_content{
    color: gray;
    font-size: 12px;
    line-height: 18px;
    height: 0;
    opacity: 0;
    margin-bottom: 10px;
    display:block;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function:cubic-bezier(0.52,0.1,0,1);

    transition-property:opacity;
    transition-duration:0.5s;
    transition-timing-function:cubic-bezier(0.52,0.1,0,1);
}
.mid_img:hover .mid_img_content{
    opacity: 1;
    display:block;
}
.shadow{
    background:rgba(0,0,0,.4);
    position:absolute;
    width: 100%;
    height:130px;
    opacity: 0;
    -webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: opacity 0.5s,transform 0.5s;
}
.shadow:hover{
    opacity:1;
}
.player_icon{
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
}
.img_container_bottom em{
    font-style: normal;
    margin-left: 25px;
    display: inline-block;
    position: absolute;
   bottom: 10px;
    color:gray;
}
.small_img{
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.mid_mid_box{
    position: relative;
    width: 235px;
    height: 83px;
}
.time_icon{
    background: url(http://s1.jikexueyuan.com/common/images/clok_a413ecf.png);
    width: 14px;
    height: 14px;
    display:inline-block;
    margin-right: 8px;
    background-size: 14px 14px;
    position: absolute;
    left: 10px;
    bottom:10px;
}
.mid_img img{
    width:235px;
    height:130px;
    cursor: pointer;
}
.img_container_bottom{
    position: absolute;
    width: 235px;
    height: 83px;
    z-index:1010;
    border: 1px solid #e8e8e8;
    border-top: none;
    background-color: white;
    left: -1px;
    -webkit-transition-property:height;
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function:cubic-bezier(0.25,0.1,0.25,1);

    transition-property:height;
    transition-duration:0.5s;
    transition-timing-function:cubic-bezier(0.25,0.1,0.25,1);
}
.mid_img:hover .img_container_bottom {
    height:175px;
}

.img_container_bottom p{
    margin-left: 15px;
    margin-top: 7px;
    margin-right: 11px;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}
.bottom_content{
    width:100%;
    height:80px;
    position:absolute;
    top:550px;
}
.contenttool{
    width:1000px;
    height:80px;
    margin:0 auto;
}
.map{
    text-decoration: none;
    color:#333;
    font-size: 18px;
}
.why{
    background-color: #9a9a9a;
    width:13px;
    height:13px;
    border-radius:13px ;
    display: inline-block;
}
.more{
    font-size:12px;
    color: #2d85ca;
    text-decoration: none;
    float:right
}
.contenttool a,.contenttool p{
    margin-top:45px;
}
.imger{
    width:100%;
    height:340px;
    position:absolute;
    top:630px;
}
.imgbox{
    width:1000px;
    height:340px;
    margin:0 auto;
}
.imger1{
    width:199px;
    height:340px;
    border:1px solid #e8e8e8;
    text-align: center;
    cursor: pointer;
    margin-right: -1px;
    float:left;
}
.imger1:hover{
    border:1px solid #35b558;
    position: relative;
}
.imger1:hover button{
   background-color: #35b558;
   color: #ffffff;
}
.imger1 img{
    margin-top:30px;
}
.imger1 h2{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}
.imger1 p{
    line-height:20px;
}
.button{
    margin-top: 45px;
    border:1px solid #35b558;
    color : #35b558;
    background-color: white;
}

.button1{
    margin-top: 45px;
    border:1px solid #E8E8E8;
    color:#9a9a9a;
    background-color: white;
}
.button1:hover{
    background-color:#E8E8E8;
}
.content_foot{
    width: 1000px;
    height: 402px;
    margin:0 auto;
    text-align: center;
}
.foot_img{
    width: 201px;
    height: 200px;
    border:1px solid #E8E8E8;
    float:left;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
    box-sizing: border-box;
    position:relative;

}
.foot_img img{
    width:70px;
    margin-top: 30px;
}

.foot_img_front{
     width: 199px;
     height: 200px;
    margin-right: -1px;
    margin-bottom: -1px;
    backface-visibility: hidden;
     box-sizing: border-box;
     transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -webkit-transition: 1s;
    transition: 1s;
}
.foot_img_back{
    backface-visibility: hidden;
    transform: rotateY(-180deg);
   -webkit-transform: rotateY(-180deg);
    height: 200px;
    width: 201px;
    -webkit-transition: 1s;
    transition: 1s;
    top:0;
}
.foot_img:hover .foot_img_front{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.foot_img:hover .foot_img_back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.foot_img h2{
    font-size: 14px;
    margin-top: 20px;
}
.foot_img p{
    color:#35b558;
    margin-top: 23px;
}
.content_footing{
    width:1000px;
    height: 89px;
    margin:0 auto;
    border:1px solid #E8E8E8;
}
.content_footing a{
    text-decoration: none;
    line-height:10px;
    color: #333;
    padding:7px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 10px;
}
.now_loading{
    width:1000px;
    height: 40px;
    margin:0 auto;
    border: 1px solid #e8e8e8;
    margin-top: -1px;
    background-color:#f5f5f5;
    text-align: center;
    line-height: 40px;
    position:relative;
    margin-bottom: 40px;

}
.all{
    text-decoration: none;
    font-size: 15px;
    color:#2d85ca;
    margin-top: 20px;

}
.red{
    text-decoration: none;
    color: #ff5c00;;
}
.now_loading span{
    margin-left: 50px;
    background-color: white;
    line-height:12px;
    position:absolute;
    display:inline-block;
    top: 10px;
    padding:4px 5px;
    cursor: pointer;
}
.cooperate{
    text-decoration:none;
    font-size: 18px;
    color:#333;
}
.contenttooler{
    width:1000px;
    height:40px;
    margin:0 auto;
}
.cooperate_img{
    width:998px;
    height:88px;
    margin:0 auto;
    border:1px solid #e8e8e8;
    text-align: center;
    margin-bottom: 40px;

}
.cooperate_img img{
    float:left;
    width:148px;
    height:48px;
    border:1px solid #e8e8e8;
    margin-left:13px;
    margin-top: 19px;
    cursor: pointer;
}
.cooperate_school{
    width:998px;
    height:148px;
    border:1px solid #e8e8e8;
    margin:0 auto;
}
.cooperate_school img{
    width:110px;
    height:110px;
    float:left;
    margin-top:19px;
    margin-left: 28px;
}